/* determining responsive web design - desktop */
@media only screen and (min-width:1920px){

    /* containers holding content of site */
.container {
    display: grid;
    background-color: green;


}    
}
/* determining responsive web design - laptop */
@media only screen and (min-width:1440px){

    /* containers holding content of site */
.container {
    display: grid;
    background-color: aqua;
}
}


/* determining responsive web design - mobile */
@media only screen and (max-width:390px){

    /* containers holding content of site */
.container {
    display: grid;
    background-color: #F7F7F8;
    font-size: 18px;
    .container1 {
        border-radius: 10px;
        width: 350px;
        /* border: 7px solid #ff9500; */
        padding: 10px;
        margin: 10px;
        background-color: #ff9500;
        color: white;
        text-align: center;
        
}
}
html{
    background-color: #F7F7F8;
}
span {
    content: "\22C6";
  }

.grid1 {
    display: grid;
    grid-template-columns: 15vw 30vw 20vw 20vw 15vw;
    grid-template-rows: 1vh; /* Your number of rows */
    grid-auto-flow: column;
}
/* login button at the top of page */
.login {
    position: relative;
    text-align: center;
    right: 15px;
    top: 15px;
    height: 35px;
    width: 80px;
    background-color: #ff9500;
    padding-top: 10px;
    border-radius: 8px;
    color: white;

}
/* signup button at the top of page */
.signup {
    position: relative;
    right: 15px;
    text-align: center;
    top: 15px;
    height: 40px;
    width: 70px;
    padding-top: 12px;
}
/* logo in the top left of page */
.logo {
    position: relative;
    top: 5px;
    img {
        height auto;
        width: 60px;
    }
    
    
    
}
.dropdown {
    position: relative;
    top: 20px;
    left: px;
    div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }
}
.hr1 {
    position: relative;
    top: 62px;
    opacity: 15%;
}