/* determining responsive web design - desktop */
@media only screen and (min-width:1080px){

    /* containers holding content of site */
.container {
    display: grid;
    background-color: green;


}    
}
}

/* determining responsive web design - laptop */
@media only screen and (min-width:480px){

    /* containers holding content of site */
.container {
    display: grid;
    background-color: aqua;
}
}


/* determining responsive web design - mobile */
@media only screen and (max-width:480px){

    /* containers holding content of site */
.container {
    display: grid;
    background-color: bisque;
    font-size: 18px;
    .container1 {
        border-radius: 10px;
        width: 420px;
        /* border: 7px solid #ff9500; */
        padding:15px;
        margin: 10px;
        background-color: #ff9500;
        color: white;
        text-align: center;
        
}
}

span {
    content: "\22C6";
  }

.grid1 {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 1vh; /* Your number of rows */
    grid-auto-flow: column;
}
/* login button at the top of page */
.login {
    position: relative;
    text-align: center;
    top: 15px;
    height: 40px;
    width: 80px;
    background-color: #ff9500;
    padding-top: 12px;
    border-radius: 10px;
    color: white;

}
/* signup button at the top of page */
.signup {
    position: relative;
    text-align: center;
    top: 15px;
    height: 40px;
    width: 70px;
    padding-top: 12px;
}
/* logo in the top left of page */
.logo {
    position: relative;
    left: 10px;
    top: 12px;
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
    border: 1px solid black;
    
    
}